<!-- File Name: services.ejs
    Student Name: Sandy Shang
    StudentID: 301177535
    Date: September 30th, 2021 */-->

<img src="/Assets/images/services.png" id="services">

<div id="aboutmep">
<h4>Some services I offer are:</h4>
<p>UI/UX Design, Website Design, Software Engineering, and Pixel Art Design.</p>

</div>

<br>
<br>