<!-- File Name: footer.ejs
    Student Name: Sandy Shang
    StudentID: 301177535
    Date: September 30th, 2021 */-->

<!-- Bottom Nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-light bg-dark">
      <div class="container-fluid">
        <h6 class="display-10 navbar-text" style="color: gray">&copy; Copyright 2021. All Rights reserved.</h6>
      </div>
    </nav>
   </footer>
  
    <!--Script Section-->
    <script src="/Script/app.js"></script>  
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
  </html>