<!-- File Name: error.ejs
    Student Name: Sandy Shang
    StudentID: 301177535
    Date: September 30th, 2021 */-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
